[push]
    default = current
[user]
    name = Sam Holman
    email = sam.holman@bskyb.com
[tig]
    commit-order = topo
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[difftool]
    prompt = false
[grep]
    lineNumber = true
[color]
    ui = auto
[color "grep"]
    match = red bold
    filename = magenta
    linenumber = green
[core]
	editor = /usr/bin/vim
