[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = git@github.com:zenorocha/dracula-theme.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
