[core]
    editor       = /usr/bin/vim
[push]
    default      = current
[diff]
    tool         = vimdiff
[merge]
    tool         = vimdiff
[difftool]
    prompt       = false
[grep]
    lineNumber   = true
[color]
    ui           = auto
[color "grep"]
    match        = red bold
    filename     = magenta
    linenumber   = green
[tig]
    commit-order = topo
[include]
    path         = .gitconfig.extra
[rerere]
    enabled      = true
